@use '../abstracts/variable' as var;
@use '../abstracts/mixins' as mix;

// cchat
.containerChat{
    @include mix.posFixed(('l': unset, 'r': 30px, 't': unset, 'b': 30px));
    @include mix.flexC;
    align-items: end;
    width: 80%;
}
.containerBtnChat{
    @include mix.flexR;
    & .active{
        @include mix.posFixed(('l': unset, 'r': 10px, 't': unset, 'b': unset));
    }
    & .size{
        min-width: 80px;
    }
    & button{
        @include mix.ovalBtn;
        margin: 0px 2%;
    }
    & span{
        font-weight: bold;
    }
    margin-top: 2%
}

// cchat Inbox
.containerFormChat{
    background-color: white;
    // background-color: map-get(var.$stiker, 0);
    padding: 10px 20px;
    width: 400px;
    border-radius: 10px;
    // min-width: 734px;
}
.sizeForm{
    // height: 737px;
    height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
    // scrollbar-color: rebeccapurple green;
    // scrollbar-width: thin;
}

button .primaryDark{
    background-color: map-get(var.$primary,1);
    margin-left:  map-get(var.$p,2);
}

button.primary {
    background-color: map-get(var.$primary,0);
}


// group
.listGroup{
    @include mix.flexC;
}
.itemGroup{
    @include mix.flexR;
    // border-bottom : 1px solid black;
    margin: 2% 0px;
    & .icon{
        width: 60px;
        @include mix.flexR;
        margin:0px 5px;
        & .active{
            position: relative;
            left: -18px;
        }
    }
    & .msg{
        margin-right: 10px;
        max-width: 200px;
        cursor: pointer;
    }
    & .date{
        width: 60px;
    }
}
.icon button{
    width: 50px;
    height: 35px;
    border-radius: 50%;
}
.oneIcon{
    width: 35px !important;
}
.posisiOvalRed{
    @include mix.gridC(1fr);
    justify-items: end;
    position: relative;
    bottom: 25px;
    right: 10px;
}
a{
    color: gray;
    text-decoration: none;
}
.title{
    font-size: 16px;
    font-weight: bold;
    @include mix.font('Lato-Bold');
}
.title1{
    font-size: 14px;
    font-weight: bold;
    @include mix.font('Lato-Bold');
}
.title2{
    font-size: 12px;
}
.title3{
    font-size: 10px;
}
.ovalRed{
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    border: none;
    align-self: end;
}


// listChat 
.containerFormListChar{
    background-color: white;
    // background-color: map-get(var.$stiker, 0);
    // padding: 10px 20px;
    width: 400px;
    border-radius: 10px;
    // min-width: 734px;
}
.headerInboxList{
    @include mix.flexR;
    padding: map-get(var.$p ,1);
    background-color: white;
    border-bottom: 3px solid #BDBDBD;
    & .btn{
        width: 10%;
        min-width: 40px;
        cursor: pointer;
    }
    & .title{
        width: 100%;
    }
}
.listChat{
    @include mix.flexC;
    padding: 0px 3%;
}
.listChatContainer{
    // width: 50%;
    width: 100%;
}
.listChatContainer .talgR{
    font-weight: bold;
}
.listChatIcon{
    width: 10%;
    min-width: 40px;
    text-align: center;
}
.listChatMsg{
    width: 90%;
    padding: 10px;
    border-radius: 10px;
}
.listChatAdd{
    margin: 3% 20px;
    display: flex;
    flex-direction: row;
}


// tasks 
.headerTaskList{
    @include mix.flexR;
    padding: map-get(var.$p ,1);
    background-color: white;
    justify-content: space-between;
}
.headerTaskList .dropdown{
    left: 10%;
}
.headerTaskList button {
    margin-bottom: 10px;
}
.dropdown .myTask{
    padding: 16px;
    border: 1px solid gray;
    margin-bottom: 10px;
    border-radius: 10px;
}

.containerTaskList{
    @include mix.flexCx;
    padding: map-get(var.$p ,1) 0px;
    background-color: white;
    border-bottom: 1px solid black;
}
.containerTaskList .headers{
    @include mix.gridC(30px 160px 65px 65px 30px 30px);
}
.containerTaskList .content{
    @include mix.gridC(40px 300px);
    @include mix.gridR(repeat(2,1fr));
    padding: 10px 20px;
}
.content {
    @include mix.gridC(40px 320px);
    padding: 10px 40px;
}