
.talgR{
    text-align: end;
}
.talgL{
    text-align: start;
}
.talgC{
    text-align: center;
}

.alcSR{
    align-self: end;
}
.alcSL{
    align-self: start;
}
.alcSC{
    align-self: center;
}

.r0{
    right: 0px;
}
.l0{
    left: 0px;
}